aiohttp
aiosignal
asttokens
async-generator
async-timeout
attrs
backcall
cairocffi
CairoSVG
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
cssselect2
cycler
decorator
defusedxml
distlib
excel
exceptiongroup
executing
filelock
fonttools
frozenlist
h11
iconify
idna
ipython
jedi
Jinja2
joblib
jsonpickle
keras
kids.cache
kiwisolver
libsass 
MarkupSafe
matplotlib
matplotlib-inline
mock
multidict
networkx
numpy
openai
outcome
packaging
pandas
parso
pickleshare
Pillow
pip
platformdirs
prompt-toolkit
pure-eval
pycparser
Pygments
pyparsing
PyQt6
pyqt6-plugins
PyQt6-Qt6
PyQt6-sip
pyqt6-tools
PyQt6-WebEngine
PyQt6-WebEngine-Qt6
pyqtgraph
PySocks
python-dateutil
python-dotenv
pytz
pyvis
pyvis-network
QT-PyQt-PySide-Custom-Widgets
qt6-applications
qt6-tools
QtPy
qtsass
requests
scikit-learn
scipy
seaborn
selenium
setuptools
six
sniffio
sortedcontainers
stack-data
threadpoolctl
tinycss2
tqdm
traitlets
trio
trio-websocket
typing
typing_extensions
urllib3
virtualenv
wcwidth
webencodings
wsproto
xlrd
yarl
docker